#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: cornsilk;
  gap: 20px;
  #header {
    margin: auto;
    background-color: antiquewhite;
    width: 100%;
    text-align: center;
  }
  #input {
    background-color: darkcyan;
    display: flex;
    flex-flow: column;
    width: 50%;
    height: 100px;
    border-radius: 5px;
    justify-content: space-between;
    gap: 5%;
    #text {
      flex: 0 1 45%;
      display: flex;
      flex-flow: row wrap;
      height: 100%;
      gap: 5%;
      #date {
        flex: 1 1 45%;
        min-width: 50px;
      }
      #place {
        flex: 1 1 45%;
        min-width: 50px;
      }
      input {
        border-radius: 8px;
        &:hover {
          border-color: blue;
        }
      }
    }
    #button {
      flex: 0 1 45%;
      width: 40%;
      align-self: center;
      text-align: center;
      min-width: 40px;
      margin: 0px;
      padding: 0px;
      border-radius: 10px;
      &:hover {
        border-color: blue;
      }
    }
  }
  #result {
    color: blueviolet;
  }
  #main {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;

    img {
      width: 300px;
      height: 200px;
    }
    section {
      border: 2px solid orangered;
      &:hover {
        border-color: blue;
      }
    }
  }
  #footer {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
  }
}
